.pagination__list {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  background-color: red;
  z-index: 9999;
}

.pagination a {
  position: relative;
  transition: all 0.25s;
}

.pagination:hover > * {
  cursor: pointer;
  color: var(--secondary-color);
  padding: 0 10px;
}

.pagination a::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  /* background-color: red; */
  background-color: #dadada;
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0.7);
  transform: translate(-50%, -50%) rotate(45deg) scale(0.7);
  width: 32px;
  height: 32px;
  opacity: 0;
  z-index: -1;
  transition: all 0.4s;
}

.pagination.is-active a::before {
  background-color: var(--secondary-color);
  -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(1);
  transform: translate(-50%, -50%) rotate(45deg) scale(1);
  opacity: 1;
  color: var(--primary-color);
}

.pagination.is-active a {
  color: var(--primary-color);
  margin: 0 10px;
}

.work-info p {
  margin-right: 8px;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.07;
}

.work__screen img {
  min-height: 300px;
  min-width: 100%;
}
