.pagination__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.pagination__list a {
  background-color: red;
  padding: 0 20px;
  cursor: pointer;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
}

.work-info p {
  margin-right: 8px;
  font-size: 13px;
  font-family: Roboto Mono, Verdana, sans-serif;
  font-weight: 500;
  line-height: 2.07;
}
.pagination {
  margin: 30px;
}
