.cube-lg {
  position: absolute;
  right: 0;
  bottom: 0;
  animation: moveCubeLg 100s linear infinite; /* Apply the animation */
}

.cube-md {
  position: absolute;
  left: 0;
  top: 0;
  animation: moveCubeMd 215s linear infinite;
}

.cube-md-2 {
  position: absolute;
  left: 0;
  top: 0;
  animation: moveCubeMd2 150s linear infinite;
}

.cube-sm {
  position: absolute;
  left: 100px;
  animation: moveCubeSm 100s linear infinite;
}

.cube-sm-2 {
  position: absolute;
  animation: moveCubeSm2 145s linear infinite;
}

.cube-sm-3 {
  position: absolute;
  right: 10px;
  top: 0;
  animation: moveCubeSm3 150s linear infinite;
}

@keyframes moveCubeSm {
  0% {
    left: 10%;
    top: 10%;
  }
  50% {
    left: 80%;
    top: 90%;
  }
  100% {
    left: 10%;
    top: 10%;
  }
}

@keyframes moveCubeSm2 {
  0% {
    left: 15%;
    top: 50%;
  }
  50% {
    left: -10%;
    top: 90%;
  }
  100% {
    left: 0%;
    top: 50%;
  }
}

@keyframes moveCubeSm3 {
  0% {
    top: 0;
  }
  50% {
    right: 10%;
    top: 90%;
  }
  100% {
    right: 0;
    top: 0;
  }
}

@keyframes moveCubeLg {
  0% {
    right: 0;
    bottom: 0;
  }
  50% {
    right: 80%;
    bottom: 70%;
  }
  100% {
    right: 0;
    bottom: 0;
  }
}

@keyframes moveCubeMd {
  0% {
    left: 0;
    bottom: 0;
  }
  50% {
    left: 95%;
    top: 95%;
  }
  100% {
    right: 0;
    top: 0;
  }
}

@keyframes moveCubeMd2 {
  0% {
    left: 0;
    bottom: 0;
  }
  50% {
    left: 35%;
    top: 95%;
  }
  100% {
    right: 0;
    top: 0;
  }
}
